In [ ]:
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn import svm
import pandas as pd
import numpy as np

In [15]:
# Load dataset
data = pd.read_csv('Ma.txt',header=0, names=['State','Gender','Year','FirstName','Count']  )

In [16]:

data.head()

  State Gender  Year FirstName  Count
0    MA      F  1910     Helen    473
1    MA      F  1910  Margaret    374
2    MA      F  1910   Dorothy    331
3    MA      F  1910     Alice    313
4    MA      F  1910      Anna    252

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder

enc = OneHotEncoder()
scaler = MinMaxScaler()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.preprocessing import LabelEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc2 = OneHotEncoder(handle_unknown='ignore')

In [17]:
# Organize our data

data['Sex'] = data['Gender'].map({'F': '1', 'M': '0'})
data['Frequency'] = (scaler.fit_transform(data[['Count']]))

label_names = 'Gender'
labels = data['Gender']
#feature_names = [data.columns.difference([label_names])]
#features = data[data.columns.difference([label_names])]
name_encoder = LabelEncoder()
feature_name = 'FirstName'
data
feature_name = pd.DataFrame()
feature_name['FirstName'] = name_encoder.fit_transform(data['FirstName'])
feature_name['Year'] = data['Year']
feature_name

        FirstName  Year
0            2170  1910
1            3631  1910
2            1557  1910
3             233  1910
4             425  1910
...           ...   ...
119874       5356  2019
119875       5357  2019
119876       5421  2019
119877       5422  2019
119878       5432  2019

[119879 rows x 2 columns]

In [18]:
# Look at our data
print(label_names)
print('Class label = ', labels[0])
#print(feature_names)
feature_name.head()

feature_name

Gender
Class label =  F

        FirstName  Year
0            2170  1910
1            3631  1910
2            1557  1910
3             233  1910
4             425  1910
...           ...   ...
119874       5356  2019
119875       5357  2019
119876       5421  2019
119877       5422  2019
119878       5432  2019

[119879 rows x 2 columns]

In [20]:
# Split our data
X_train, X_test, y_train, y_test = train_test_split(feature_name,
                                                          labels,
                                                          test_size=0.33,
                                                          random_state=42)

In [ ]:
# Initialize our classifier
#clf = svm.SVC()

# Train our classifier
#model = clf.fit(train, train_labels)

In [ ]:
# Make predictions
#preds = svm.predict(test)
#print(preds)

# Evaluate accuracy
#print(accuracy_score(test_labels, preds))

In [21]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(train, train_labels)
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(logreg.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(logreg.score(X_test, y_test)))

ValueError: X has 2 features per sample; expecting 1

In [22]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier().fit(X_train, y_train)
print('Accuracy of Decision Tree classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Decision Tree classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

Accuracy of Decision Tree classifier on training set: 0.98
Accuracy of Decision Tree classifier on test set: 0.93

In [23]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

knn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.2f}'
     .format(knn.score(X_test, y_test)))

Accuracy of K-NN classifier on training set: 0.90
Accuracy of K-NN classifier on test set: 0.83

In [26]:
from fairlearn.metrics import MetricFrame
from sklearn.metrics import accuracy_score

In [28]:
y_pred = clf.predict(feature_name)
gm = MetricFrame(accuracy_score, labels, y_pred, sensitive_features=feature_name['Year'])

Found 110 subgroups. Evaluation may be slow